<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<h2>Загрузка файлов с возможностью поиска строки внутри загруженных файлов</h2>
<h3>
    Описание работы:
</h3>
Файлы сохраняются в System.getProperty("java.io.tmpdir"). </br>
Файл разбивается на строки, строки разбиваются на слова (split ' '), слова являются ключами в Map, значением является список координат
слова - (файл, строка, позиция в строке)
<h3>
    API:
</h3>
<h4>
    /search?string=search_str
</h4>
Описание работы:
search_str разбивается на слова (split ' ')
происходит поиск координат каждого слова с точностью до строки,
определяются те строки которые были найдены количество раз = количеству слов в search_str
внутри этих строк делается поиск через String.contains(search_str)
если подcтрока найдена - она возвращается в качестве результата


<h1>file upload</h1>

<form method="POST" enctype="multipart/form-data" id="fileUploadForm">
    <input type="file" name="file"/><br/><br/>
    <input type="submit" value="Submit" id="btnSubmit"/>
</form>

<h1>Result upload</h1>
<pre>
    <span id="result"></span>
</pre>

<script type="text/javascript"
        src="webjars/jquery/2.2.4/jquery.min.js"></script>

<script type="text/javascript" src="js/main.js"></script>

</body>
</html>
